@import 'fonts';
@import 'variables';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Базові елементи */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}


html {
  height: 100%;
  font-size: 16px; // базовий розмір
}

body {
  color: $color-primary;
  font-family: $font-main;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.extra-text {
  font-size: $font-size-extra;
  font-weight: 400;
}

.big-title {
  font-size: $font-size-big;
  font-weight: 600;
}
.test-button{
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  gap: 40px;
  margin: 0 auto;
  padding: 100px 10px 0 10px;
}
input,
textarea {
  color: $color-primary;
}
