@import 'fonts';
@import 'variables';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  color: $color-primary;
  font-family: $font-main;
  min-height: 100%;
  background-color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1 0 auto;
}
footer{
  //margin-top: auto;
}

.container {
  //padding: 0 4.5em;
  margin: 0 auto;
  max-width: 120em;
  border-left: 5em solid #C9C9CE;
  border-right: 5em solid #C9C9CE;
}

// h1 h2 h3 ... + like-h2 ...

// + 2 block
.extra-text {
  font-size: $font-size-extra;
  font-weight: 400;
}

.big-title {
  font-size: $font-size-big;
  font-weight: 600;
}

/* Базові елементи */
img, picture, video, canvas, svg {
  //display: block;
  //max-width: 100%;
  //object-fit: cover;
}

// p + span ...

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none; // burger <--
}



button {
  max-width: 22.438em;
  width: 100%;
  height: 2.875em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.75em;
  border: 2px solid transparent;
  border-radius: $border-radius;
  font-family: $font-main;
  font-size: $font-size-extra;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all $transition-speed;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba($color-black, 0.1);
  }
}


input,
textarea {
  width: 100%;
  padding: 0.625em 0.9375em;
  border: 1px solid #000;
  color: $color-primary;
  border-radius: 0.625em;
  background-color: #fff;
  outline: none;
  transition: border-color $transition-speed;

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }

  &:focus {
    border-color: $color-primary;
  }
}

textarea {
  resize: vertical;
  min-height: 6.25em;
}


// delete
.test-button{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 6.25em 0.625em 0 0.625em;
}
.cart-blog-container{
  gap: 0.5em;
  padding: 6.25em 0.625em 0 0.625em;
  display: flex;
  justify-content: space-between;
}



// block burger
.burger-menu {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 367px;
  background-color: #fff;
  border: 1px solid #59468D;
  z-index: 1000;
  display: none;

  &.is-open {
    display: block;

  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Стилізація пунктів списку
  li {

    border-bottom: 1px solid $color-primary;


    &:last-child {
      border-bottom: none;
    }

    a {
      display: flex;
      align-items: center;
      padding: 15px 25px;
      font-size: 20px;
      color: $color-primary;
      text-decoration: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(#D5D917, 0.1);
      }


      &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-color: #D5D917;
        border-radius: 50%;
        margin-right: 20px;
        flex-shrink: 0;
      }
    }
  }
}

/* block hero */
.hero{
  background-color: #C9C9;
}
