$font-main: 'Montserrat', sans-serif;

$font-size-extra: 16px;
$font-size-main: 18px;
$font-size-subtitle: 20px;
$font-size-title: 22px;
$font-size-big: 36px;


$color-primary: #59468D;
$color-accent: #D5D917;
$color-gray: #C9C9CE;
$color-white: #FFFFFF;
$color-black: #000000;

$border-radius: 61px;
$transition-speed: 0.3s ease;
