$font-main: 'Montserrat', sans-serif;

// fonts
$font-size-extra: 1rem; // 16
$font-size-main: 1.125rem;
$font-size-subtitle: 1.25rem;
$font-size-title: 1.375rem;
$font-size-big: 2.25rem;

// color
$color-primary: #59468D;
$color-accent: #D5D917;
$color-gray: #C9C9CE;
$color-white: #FFFFFF;
$color-black: #000000;


$border-radius: 3.8125rem;
$transition-speed: 0.3s ease;
