.header-container{
  background-color: #C9C9CE;
  min-height: 4.6875em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo_search{
  gap: 1em;
  align-items: center;
  display: flex;
  width: 100%;
  max-width: 55em;
  justify-content: space-between;
}
.search-container {
  position: relative;
}
.search_img{
  width: 100%;
  max-width: 36.0625rem;
}
.search-input {
  height: 2.1875rem;
}

.search-icon {
  //position: absolute;
  bottom: 6px;
  left: 30.625em;
}
.more{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.phone_nome{
  width: 100%;
  max-width: 13.125em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.others{
  width: 100%;
  max-width: 23.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
