@import '../general/variables';
@import '../general/fonts';

// _buttons.scss

button {
  max-width: 359px;
  width: 100%;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  border: 2px solid transparent;
  border-radius: $border-radius;
  font-family: $font-main;
  font-size: $font-size-main;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all $transition-speed;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba($color-black, 0.1);
  }
}


.btn-accent {
  background-color: $color-accent;
  color: $color-black;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}


.btn-accent-outline {
  background-color: transparent;
  border-color: $color-accent;
  color: #D5D917;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: $color-primary;
  color: $color-primary;
}

.btn-white-outline {
  background-color: $color-white;
  border-color: $color-primary;
  color: $color-primary;
}


// Кнопка "Додати в кошик"
.btn-add-to-cart {
  gap: 10px;
  width: 118px;
  height: 56px;
  padding: 10px;
  border-radius: 92px;
  font-size: $font-size-title;

  .icon {
    line-height: 1;

    svg {
      fill: currentColor;
    }
  }


  &.is-active {
    background-color: $color-accent;
    color: $color-primary;
  }


  &.is-added {
    background-color: $color-primary;
    color: $color-accent;
  }


  &:disabled:not(.is-added) {
    background-color: $color-gray;
    color: $color-white;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }
}

.form-activator{
  width: 100%;
  text-align: end;
}



.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.2);
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

// Контейнер форми
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $color-white;
  padding: 50px 40px; // Збільшені відступи
  max-width: 500px;
  min-height: 485px;
  border-radius: 37px;
  box-shadow: 0 10px 30px rgba($color-black, 0.1);
  width: 100%;
  box-sizing: border-box;
}


.contact-form-close {
  position: absolute;
  top: 31px;
  right: 31px;
}


.contact-form-title {
  font-size: $font-size-title;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  color: $color-black;
  margin: 0 0 30px 0;
}


.form-group {
  margin-bottom: 18px;
}

.adaptive-form{
  max-width: 379px;
  width: 100%;
}
.form-control {
  width: 100%;
  height: 34px;
  padding-left: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: $font-main;
  font-size: 16px;
  color: $color-primary;
  background-color: $color-white;
  transition: border-color $transition-speed;
  box-sizing: border-box;

  &::placeholder {
    color: $color-primary; // Трохи темніший placeholder
  }

  &:focus {
    outline: none;
    border-color: $color-primary; // Рамка при фокусі
  }
}

textarea.form-control {
  resize: none;
  height: 61px;
}


.form-helper-text {
  display: block;
  font-size: 10px;
  color: #03A100;
  margin-top: 4px;
  padding-left: 20px;
}


.btn-block {
  max-width: 379px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  height: 35px;
  color: $color-primary;
  background-color: #D5D917;
}
