@import '../general/variables';
@import '../general/fonts';

// _buttons.scss




.button-accent {
  background-color: $color-accent;
  color: $color-black;
}

.button-primary {
  background-color: $color-primary;
  color: $color-white;
}


.button-accent-outline {
  background-color: transparent;
  border-color: $color-accent;
  color: #D5D917;
}

.button-primary-outline {
  background-color: transparent;
  border-color: $color-primary;
  color: $color-primary;
}

.button-white-outline {
  background-color: $color-white;
  border-color: $color-primary;
  color: $color-primary;
}


// Кнопка "Додати в кошик"
.button-add-to-cart {
  gap: 0.625rem;
  max-width: 7.375rem;
  width: 100%;
  min-height: 3.5rem;
  padding: 0.625rem;
  border-radius: 5.75rem;
  font-size: $font-size-title;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      width: 1.25rem;
    }
    &:last-child {
      width: 3rem;
      height: 2.25rem;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }


  &.is-active {
    background-color: $color-accent;
    color: $color-primary;
  }


  &.is-added {
    background-color: $color-primary;
    color: $color-accent;
  }


  &:disabled:not(.is-added) {
    background-color: $color-gray;
    color: $color-white;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }
}

.form-activator{
  width: 100%;
  text-align: end;
}



.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.2);
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
}

// Контейнер форми
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $color-white;
  padding: 3.125em 2.5em; // Збільшені відступи
  max-width: 31.25em;
  min-height: 30.3125em;
  border-radius: 37px;
  box-shadow: 0 0.625em 1.875em rgba($color-black, 0.1);
  width: 100%;
  box-sizing: border-box;
}


.contact-form-close {
  position: absolute;
  top: 1.9375em;
  right: 1.9375em;
}


.contact-form-title {
  font-size: $font-size-title;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  color: $color-black;
  margin: 0 0 1.875rem 0;
}


.form-group {
  margin-bottom: 1.125em;
}

.adaptive-form{
  max-width: 23.6875em;
  width: 100%;
}
.form-control {
  width: 100%;
  height: 2.125em;
  padding-left: 0.625em;
  border: 1px solid #000000;
  border-radius: 0.625em;
  font-family: $font-main;
  font-size: $font-size-extra;
  color: $color-primary;
  background-color: $color-white;
  transition: border-color $transition-speed;
  box-sizing: border-box;

  &::placeholder {
    color: $color-primary; // Трохи темніший placeholder
  }

  &:focus {
    outline: none;
    border-color: $color-primary; // Рамка при фокусі
  }
}

textarea.form-control {
  resize: none;
  height: 3.8125em;
}


.form-helper-text {
  display: block;
  font-size: 0.625em;
  color: #03A100;
  margin-top: 4px;
  padding-left: 1.25rem;
}
.button-block {
  max-width: 23.688em;
  width: 100%;
  font-size: $font-size-extra;
  border-radius: 0.625em;
  height: 2.1875em;
  color: $color-primary;
  background-color: #D5D917;
}


.blog-block{
  background-color: #79b8d8;
  width: 100%;
  max-width: 26.3125em;
  //min-height: 26.1875em;
  max-height: 26.1875em;
  padding: 1.25em 1.25em 2.1875em 1.25em;
  border-radius: 2.3125em;
}
.blog-block-content{
  gap: 1.125em;
  display: flex;
  flex-direction: column;
}
.like-h2{
  font-size: $font-size-title;
  font-weight: 600;
  line-height: 1.3;
  color: $color-primary;
}
.blog-block-info{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}


.mini-card-block{
  width: 100%;
  max-width: 26.25em;
  min-height: 33.375em;
  padding: 1.25em 1.25em 2.1875em 1.25em;
  border-radius: 2.3125em;
  box-shadow: 0 0 1.25em 0 rgba(89, 70, 141, 0.25);
}
.mini-card-block-content{
  gap: 1.125em;
  display: flex;
  flex-direction: column;
}
.like-h2-weight{
  font-size: $font-size-title;
  font-weight: 500;
  line-height: 1.3;
  color: $color-primary;
}
.prise-text{
  font-weight: 500;
  font-size: 2em;
  line-height: 100%;
  color: $color-primary;
}
.mini-card-block-info{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}
