@charset "UTF-8";

// general
@import"general/general";
@import"general/variables";
@import"general/fonts";

// blocks
@import "blocks/header";
@import "blocks/footer";
@import "blocks/ui-kit";

// page
@import "pages/main-page";

